/* to reset uncertain defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: grey dotted  3px;
}


body {
  display: flex;
  min-height: 100vh;
  font: bold 1rem Trebuchet MS, sans-serif;
  background: #585555;
}

#auth_form {
  padding: 30px 50px;
  margin: auto;
  border-radius: 40px;
  background: #F7EABE;
  border: 2px solid black;

  display: grid;
  grid-gap: 15px;
  grid-template:  "  lbl-l    login   login    either "
                  "  lbl-m    mail     mail    either "
                  "  lbl-p    pass     pass      .    "
                  "response response response response"
                  "    .     signup   signin     .    "
}
#login_label {
  grid-area: lbl-l;
  text-align: right;
}
#mail_label {
  grid-area: lbl-m;
  text-align: right;
}
#pass_label {
  grid-area: lbl-p;
  text-align: right;
}
#login_field {
  grid-area: login;
}
#mail_field {
  grid-area: mail;
}
#pass_field {
  grid-area: pass;
}
#either_btn {
  grid-area: either;
  width: 55px;
  height: 81px;
  padding: 0 6px;
  background: #EEACA0;
}
#signup_btn {
  grid-area: signup;
  background: #FAC710;
}
#signin_btn {
  grid-area: signin;
  background: #8FD14F;
}
#response_line {
  grid-area: response;
  font-size: .9rem;
  text-align: center;
}

label {
  padding: 7px;
}
input {
  text-align: center;
  font: bold 1rem Trebuchet MS, sans-serif;
  border: 2px solid black;
  padding: 3px 0 5px;
}
button {
  border: 2px solid black;
  border-radius: 7px;
  width: 150px;
  height: 40px;
  font: bold 1rem Trebuchet MS, sans-serif;
  cursor: pointer;
}

#either_scr {
  position: fixed;
  display: none; /* switches to flex on click */
  height: 100%;
  width: 100%;
  padding: 0 0 120px 299px;
  background: #0004;
}
#either_win {
  margin: auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 200px 55px;
  background: #EEACA0;
  border-radius: 40px;
  border: 2px solid black;
  padding: 20px 30px;
  height: 180px;
}
#ok_btn {
  width: 55px;
  height: 81px;
  margin-top: 20px;
  background: #F7EABE;
}

#main_win {
  padding: 30px 50px;
  margin: auto;
  display: none;
  border-radius: 40px;
  background: #F7EABE;
  border: 2px solid black;
}
#timing_ctrl>button {
  height: auto;
  width: 64px;
  padding-bottom: 1px;
}
#timing_ctrl {
  padding: 15px 20px;
  border-radius: 20px;
  width: 426px;
  background: #BEDBE8;
  border: 2px solid black;

  display: grid;
  grid-gap: 4px 15px;
  grid-template:  "   go  secM minM hourM dayM"
                  "   go  sec  min  hour  day " 22px
                  " pause sec  min  hour  day " 22px
                  " pause secL minL hourL dayL"
}
#go_btn {
  grid-area: go;
  background: #8FD14F;
}
#pause_btn {
  grid-area: pause;
  background: #B5B5B5;
}
#sec_btn {
  grid-area: sec;
  background: #FFFAE9;
}
#min_btn {
  grid-area: min;
  background: #FEF445;
}
#hour_btn {
  grid-area: hour;
  background: #FAC710;
}
#day_btn {
  grid-area: day;
  background: #EEACA0;
}
#sec_add_btn {
  grid-area: secM;
  background: #FFFAE9;
}
#sec_sub_btn {
  grid-area: secL;
  background: #FFFAE9;
}
#min_add_btn {
  grid-area: minM;
  background: #FEF445;
}
#min_sub_btn {
  grid-area: minL;
  background: #FEF445;
}
#hour_add_btn {
  grid-area: hourM;
  background: #FAC710;
}
#hour_sub_btn {
  grid-area: hourL;
  background: #FAC710;
}
#day_add_btn {
  grid-area: dayM;
  background: #EEACA0;
}
#day_sub_btn {
  grid-area: dayL;
  background: #EEACA0;
}
#timing_ctrl>button.add_sub {
  width: 40px;
  margin: auto;
}

#clock_block>span {
  text-align: center;
}
#clock_block {
  padding: 15px 8px;
  float: right;
  margin-top: 5px;
  border-radius: 20px;
  width: 234px;
  font-weight: normal;
  background: darkgray;
  border: 2px solid black;

  display: grid;
  grid-template:  "today today today"
                  " date date  date "
                  " time time  time "
                  "left0 left1 left2"
                  "left0 left3 left4"
                  /  55%  10%
}
#today_line {
  grid-area: today;
  font-size: 26px;
}
#date_line {
  grid-area: date;
  font-size: 34px;
}
#time_line {
  grid-area: time;
  font-size: 44px;
  font-weight: bold;
}
span#left0_line {
  grid-area: left0;
  text-align: right;
  margin-right: 12px;
}
span#left1_line {
  grid-area: left1;
  text-align: right;
}
span#left2_line {
  grid-area: left2;
  text-align: left;
  margin-left: 7px;
}
span#left3_line {
  grid-area: left3;
  text-align: right;
}
span#left4_line {
  grid-area: left4;
  text-align: left;
  margin-left: 7px;
}
.sel_btn {
  box-shadow: 0 0 15px 5px rgba(0, 47, 255, 0.753);
}